{% extends 'base.html' %}

{% block title %}
<title>Disperse Home</title>
{% endblock %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <h1>Hey {{user.username}}</h1>
    <div class="home-buttons">
        <a href="{% url 'spot_list' %}">
            <button type="button" class="btn btn-secondary btn-lg btn-block">My Spots</button>
        </a>
        <a href="{% url 'spot_create' %}">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Add A Spot</button>
        </a>
        <a href="{% url 'resources' %}">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Resources</button>
        </a>
    </div>
    {% else %}
    <h1>Welcome Wildling</h1>
    <div class="home-buttons">
        <a href="{% url 'signup' %}">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Sign Up</button>
        </a>
        <a href="{% url 'login' %}">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Log In</button>
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}