{% extends 'base.html' %}

{% block title %}
<title>Resources</title>
{% endblock %}

{% block content %}

<h1>Resources</h1>
<p>Need some inspiration on cool spots or other useful tools? Check these out.</p>
<div class="home-buttons">
    <a href="https://www.blm.gov/programs/recreation/camping"target="_blank">
        <button type="button" class="btn btn-secondary btn-lg btn-block">BLM Info</button>
    </a>
    <a href="https://nationalparkssupplyco.com/resources/dispersed-camping-guide/" target="_blank">
        <button type="button" class="btn btn-secondary btn-lg btn-block">Beginner's Guide</button>
    </a>
</div>

{% endblock %}