body {
    background-image: url("https://disperse-sjl.s3.us-east-2.amazonaws.com/disperse_background.jpg?v=1");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 3.75rem);
    background-color: rgb(184, 184, 183);
}

.container {
    padding: 0 1.25rem 0 1.25rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-bottom: 4.5rem;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 60rem;
    margin: 0 auto;
}
.navbar {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    color: #94b640;
    padding: .75rem;
    font-family: 'Handlee', cursive;
    font-size: x-large;
}

.navbar-brand:hover {
    color:#b3bf8b;
}

.navbar-toggler {
    color:#acafa2;
    margin: .5rem;
}

.nav-link {
    color:#b8c0a3;
}

.home-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.home-buttons button {
    background-color:#3a480b;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    margin: 2rem;
}

.home-buttons button:hover, .btn:hover {
    background-color: #778b34;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    background-color:#3a480b;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color:#eef0e9;
}

.edit-delete-btns {
    margin-bottom: 2rem;
}

h1, h2, h3, h4, p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #2c3807;
    padding: 1.5rem;
}

h5, .card-subtitle {
    text-align: center;
    color: #283305;
}

h4.card-title {
    text-decoration: none;
    color: #3a480b;
    padding: 1rem;
}

.spot_description {
    background-color: rgb(209, 210, 207, 0.8);
    padding: 1rem;
    margin: 1rem;
    border-style: solid;
    border-color: #3a480b;
    border-width: medium;
    border-radius: .5rem;
}

.card-img-top {
    width: 100%; 
    height: 12rem;
    object-fit: cover;
}

.row {
    display: flex-wrap;
    margin: auto;
}

div#spot-card > div.col-sm-6 > div.card > div.card-body {
    padding: 2rem;
}

label {
    background-color:rgba(233, 233, 234, 0.7);
    width: 6.25rem;
}

#spot-description {
    text-align: center;
}

.weather-data p {
    font-size: smaller;
    display: block;
    margin: 0 auto;
    padding: 0;
    margin: 0;
}

.weather-img {
    height: 2.25rem;
    padding: 0;
    display: block;
    margin: 0 auto;
}

.weather-box {
    border: 1px;
    border-color: #3a480b;
    border-style: solid;
    padding: 1.5rem;
    
}

div.photo-section, div.weather-box {
    background-color: rgb(209, 210, 207, 0.8);
    padding: 1rem;
    margin: 1rem;
    border-style: solid;
    border-color: #3a480b;
    border-width: medium;
    border-radius: .5rem;
}

#map, .card-body {
    border-color: #3a480b;
    border-style: solid;
    border-radius: .5rem;
    border-width: medium;
    background-color: rgba(248, 248, 247, 0.7);
    text-align: center;
}

.card {
    border-radius: .5rem;
}

h3 {
    text-align: center;
    color: #3f4f0b !important;
    padding: 1rem;
    width: 100%;
}

form, input, textarea, .alert.alert-danger {
    background-color: rgb(220, 224, 227, .7);
}

span.helptext {
    background-color:rgba(233, 233, 234, 0.7) !important; 
}

.footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 3.75rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.footer-txt {
    color:#c2cbac;
}
