{% extends 'base.html' %}

{% block title %}
<title>Spot List</title>
{% endblock %}

{% block content %}
<button class="btn btn-secondary" onclick="history.back()" style="margin: 2rem 0 0 0">Back</button>
<h1 style="padding: 0 0 2rem 0">My Spots</h1> 
{% if object_list %}
<div class="row">
    {% for spot in object_list %}   
    <div class="col-sm-6" id="spot-card">
        <div class="card my-3">
            <div class="card-body spot-list-cards">
                <h4 class="card-title">{{spot.name}}</h4>
                <a href="{% url 'spot_detail' spot.id %}">
                    {% if spot.photo_set.exists %}
                    <img class="card-img-top img-fluid" src="{{ spot.photo_set.first.url|safe }}" alt="{{ spot.name }}" class="responsive-img card-panel">
                    {% else %}
                    <img class="card-img-top img-fluid" style="object-position: bottom left"src="https://disperse-sjl.s3.us-east-2.amazonaws.com/camping_default.webp?v=1" alt="{{ spot.name }}">
                    {% endif %}            
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="text-center">
    <a href="{% url 'spot_create' %}">
      <button type="button" class="btn btn-secondary btn-lg">Add A Spot</button>
    </a>
</div>
{% else %}
<div class="home-buttons">
    <h2>You don't have any spots yet.</h2>
    <h3>That's okay, add one to get started!</h3>
    <a href="{% url 'spot_create' %}">
        <button type="button" class="btn btn-secondary btn-lg btn-block">Add A Spot</button>
    </a>
</div>
{% endif %}

{% endblock %}