{% extends 'base.html' %}

{% block title %}
    {% if object %}
        <title>Update {{ object.name }}</title>
    {% else %}
        <title>Add a Spot</title>
    {% endif %}
{% endblock %}

{% block content %}
    {% if object %}
        <h1>Update {{ object.name }}</h1>
    {% else %}
        <h1>Add A New Spot</h1>
    {% endif %}

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <button id="find-location-btn" class="btn btn-outline-dark">Find My Location</button>
            </td>
        </tr>
    </table>
    <input type="submit" value="Submit" class="btn btn-outline-dark">
</form>

<script>
    const findLocationBtn = document.querySelector('#find-location-btn');
    findLocationBtn.addEventListener('click', () => {
        navigator.geolocation.getCurrentPosition((position) => {
            const latitudeField = document.querySelector('#id_latitude');
            const longitudeField = document.querySelector('#id_longitude');
            latitudeField.value = position.coords.latitude.toFixed(7);
            longitudeField.value = position.coords.longitude.toFixed(7);
        });
    });
</script>
{% endblock %}