{% extends 'base.html' %}

{% block title %}
<title>Spot Detail</title>
{% endblock %}

{% block content %}
<div class="card">
    <h2 class="spot_name">{{ spot.name }}</h2>
    <h5 class="card-subtitle mb-2 text-muted">3 Day Forecast</h5>
    <div class="row">
        {% for day in forecast %}
        <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <div class="weather-data">
                    <p>{{ day.date }}</p>
                    <p>{{ day.day.condition.text }}</p>
                    <img src="{{ day.day.condition.icon }}" alt="{{ day.day.condition.text }}">
                    <p>High: {{ day.day.maxtemp_f }}°F</p>
                    <p>Low: {{ day.day.mintemp_f }}°F</p>
                    <p>Sunrise at {{ day.astro.sunrise }}</p>
                    <p>Sunset at {{ day.astro.sunset }}</p>
                </div>
              </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
        <div class="card-content">
            <span class="card-title">{{ spot.name }}</span>
            <p>{{ spot.description }}</p>
        </div>
    <div class="card-action">
        <a href="{% url 'spot_update' spot.id %}">Edit</a>
        <a href="{% url 'spot_delete' spot.id %}">Delete</a>
    </div>
    {% for photo in spot.photo_set.all %}
        <img src="{{ photo.url }}" alt="{{ spot.name }}" class="responsive-img card-panel">
        {% empty %}
        <div class="card-panel red-text center-align">No Photos Uploaded</div>
        {% endfor %}
        <form 
            action="{% url 'add_photo' spot.id %}" 
            method="POST" 
            class="card-panel" 
            enctype="multipart/form-data"
        >
            {% csrf_token %}
            <input type="file" name="photo-file">
            <input class="btn orange" type="submit" value="Upload Photo">
        </form>
</div>
{% endblock %}