{% extends 'base.html' %}

{% block title %}
<title>Spot List</title>
{% endblock %}

{% block content %}
<h1>My Spots</h1>
{% for spot in object_list %}
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <a href="{% url 'spot_detail' spot.id %}">
                <img class="card-img-top" src="{{ spot.id.photo.url }}" alt="Card image cap">
            </a>
            <div class="card-body">
                <h4 class="card-title">{{spot.name}}</h4>
                <p class="card-text">{{spot.description}}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}