{% extends 'base.html' %}

{% block title %}
<title>Spot Detail</title>
{% endblock %}

{% block content %}
<h2 class="spot-title">{{ spot.name }}</h2>    
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="mx-auto" id="spot-description">
                <p>{{ spot.description }}</p>
                <div class="edit-delete-btns">
                    <a href="{% url 'spot_update' spot.id %}">
                        <button type="button" class="btn btn-secondary">Edit</button>
                    </a>
                    <a href="{% url 'spot_delete' spot.id %}">
                        <button type="button" class="btn btn-secondary">Delete</button>
                    </a>
                </div>                
            </div>            
        </div>
        <div class="col-md-6">
            <div class="mx-auto" id="map" style="width: 20rem; height: 20rem;">
                <script>
                    var spot = {
                        latitude: {{ spot.latitude }},
                        longitude: {{ spot.longitude }},
                        name: '{{ spot.name }}'
                    };
                    // map
                    console.log(spot.longitude)

                    var map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/outdoors-v11',
                        center: [{{ spot.longitude }}, {{ spot.latitude }}],
                        zoom: 12,
                        accessToken: '{{ MAPBOX_ACCESS_TOKEN }}'
                    });

                    map.addControl(new mapboxgl.NavigationControl({
                        position: 'top-right'
                        }));
        
                    // spot marker
                    var marker = new mapboxgl.Marker()
                        .setLngLat([{{ spot.longitude }}, {{ spot.latitude }}])
                        .addTo(map);
        
                    // popup wth spot details
                    var popup = new mapboxgl.Popup()
                        .setHTML('<h3>{{spot.name}}</h3>')
                        .setMaxWidth('300px');
                    marker.setPopup(popup);
                </script>
            </div>
        </div>
    </div>
</div>    
    <div class="weather-box">
        <div class="row">
            <h5 class="card-subtitle mb-2 text-muted">3 Day Forecast</h5>
            {% for day in forecast %}
            <div class="col-sm-4">
                <div class="card" style="height: 13rem; max-width: 10rem">
                    <div class="card-body">
                        <div class="weather-data">
                            <p>{{ day.date }}</p>
                            <p>{{ day.day.condition.text }}</p>
                            <img class="weather-img" src="{{ day.day.condition.icon }}" alt="{{ day.day.condition.text }}">
                            <p>High: {{ day.day.maxtemp_f }}°F</p>
                            <p>Low: {{ day.day.mintemp_f }}°F</p>
                            <p>Sunrise: {{ day.astro.sunrise }}</p>
                            <p>Sunset: {{ day.astro.sunset }}</p>
                        </div>
                    </div>  
                </div>
            </div>
            {% endfor %}
        </div>   
    </div>          
    <div class="row">
        {% for photo in spot.photo_set.all %}
        <div class="col-sm-4 mb-3">
        <div class="card">
            <img src="{{ photo.url|safe }}" alt="{{ spot.name }}" class="card-img-top">
        </div>
        </div>
        {% empty %}
        <div class="col">
        <div class="card text-center text-white bg-danger mb-3">
            <div class="card-body">
            <h5 class="card-title">No Photos Uploaded</h5>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>
        <form 
            action="{% url 'add_photo' spot.id %}" 
            method="POST" 
            class="card-panel" 
            enctype="multipart/form-data"
        >
            {% csrf_token %}
            <input type="file" name="photo-file">
            <input class="btn btn-secondary" type="submit" value="Upload Photo">
        </form>

{% endblock %}